.people {
  --columns: 2;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #2F4F4F;
  box-sizing: border-box;
  justify-content: center;
  display: grid;
  padding: 30px 35px;
  gap: 30px 10px;
  grid-template-columns: repeat(var(--columns), 220px);

  @media (min-width: 1000px) {
    --columns: 4;
  }
}

.person {
  padding: 10px 10px 16px;
    
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  &__photo {
    position: relative;  
    & > img {
      width: 100%;
      border-radius: 50%;
    }

    &-rank {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 32px;
      height: 32px;
      background-color: #fff;
      text-align: center;
      line-height: 200%;
      border-radius: 50%;
      margin-right: 10px;
      font-size: 16;
      color: #8B0000;
      }
    }

    &__details {
      text-align: center;
      margin-top: 8px;
    }

    &__extra {
      display: none;

      position: absolute;
      width: 100%;
      left: 0;

      padding-bottom: 16px;
      font-weight: 400;
      font-size: 18px;
      color: #000;
      text-align: center;
      padding-top: 9px;

      background: #EEEEEE;
    
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      &-sport {
        &::after {
          content: ','
        }
      }
  
      &-pay {
        &::before {
          content: '$'
        }
    
        &::after {
          content: 'M'
        }
      }
    }

    &:hover {
      background-color: #EEEEEE;
      transform: scale(1.2);
      z-index: 1;

      & .person__extra {
        display: block;
      }

      & .person__photo > img {
        border-radius: 60px;
      }
    }

  transition: transform 1s;
}
